.analytics-blocks {
	.analytic-card {
		padding: 32px;
		border-radius: 10px;
		margin-bottom: 15px;
		align-items: center;
		position: relative;
		height: 120px;
		&:before {
			position: absolute;
			content: '';
			width: 80%;
			height: 100%;
			background: #ffffff26;
			top: 0;
			left: 0;
			border-radius: 15px 100px 0px 15px;
		}
		img {
			width: 40px;
			filter: invert(1);
		}
		h6 {
		    font-size: 16px;
		    font-weight: 500; 
		}

		&:before {
			position: absolute;
			content: "";
			width: 80%;
			height: 100%;
			background: #ffffff26;
			top: 0;
			left: 0;
			border-radius: 15px 150px 0px 15px;
		}
		&:after {
			position: absolute;
			content: "";
			width: 17%;
			height: 60%;
			background: #ffffff26;
			top: 0;
			right: 0;
			border-radius: 0px 15px 0px 100px;
		}
	} 
} 

.bgtracker-db {
	.row {
		.col-md-3 {
			&:nth-child(1) {
				.analytic-card {
					background: #67b61c;
					box-shadow: 0px 8px 20px 0px #67b61c66;
				}
			}
			&:nth-child(2) {
				.analytic-card {
					background: #5339b5;
    				box-shadow: 0px 8px 20px 0px #5339b545;
				}
			}			
			&:nth-child(3) {
				.analytic-card {
					background: #39b2b5;
    				box-shadow: 0px 8px 20px 0px #39b2b566;
				}
			}
			&:nth-child(4) {
				.analytic-card {
					background: #fd7e14;
    				box-shadow: 0px 8px 20px 0px #fd7e1461;
				}
			}
		}
	}
}



.bgtracker-db-div {
	.analytics-blocks-parent {
		background: #fff;
	    border-radius: 10px;
	    padding: 15px;
	    //box-shadow: 0px 4px 17px #c3c3c3;
	    
	    .analytic-card {
	    	img {
	    		width: 45px;
	    	}
	    	
	    	.analytic-values {
	    		h2 {
	    			font-size: 45px;
    				font-weight: 600;
	    		}
	    	}
	    }
	}
}



.step-card-width-10 {
	margin: 0px 10%
}

.step-card-width-15 {
	margin: 0px 15%
}

.step-card-width-20 {
	margin: 0px 20%
}

.step-card-width-25 {
	margin: 0px 25%
}

.step-card-width-30 {
	margin: 0px 30%
}

.step-card-width-35 {
	margin: 0px 35%
}