.petronet-megamenu {
    .cmpy-logo {
        width: 80px !important;
        height: auto;  
        margin-left: 40px;  
    }

    .megamenu-bg {
        background-image: url("../images/menu-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        min-width: 1400px;

        .row {
            .child-menu-items {
                &:last-child {
                    .dropdown-item-text {
                        &:after {
                            display: none;
                        }
                    }
                    a {
                        text-transform: uppercase;
                        font-weight: 800 !important;
                        color: #ababab !important;
                    }
                }
            }
        } 
    }

    .dropdown-item-text {
        color: #ababab;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        line-height: 35px;

        &:after {
            position: absolute;
            content: "";
            width: 26px;
            height: 5px;
            top: 27px;
            background: #e31e24;
            left: 0;
            border-radius: 100px;
        }
    }

    .child-menu-items {
        margin-bottom: 35px;
        line-height: 30px;
    }
}

#wrapper {
    .cmpy-logo {
        width: 120px;
        height: auto;  
    }    
} 

#petronetMegamenu {
    .nav-item.dropdown {
        margin: 0px 25px;
    }
}

.right-menu {
    .list-inline-item {
        margin: 0px 25px;
        cursor: pointer;
    }
}

.font-weight-bold, .text-weight-bold {
    font-weight: 600 !important;
}