.back-btn {
    background: #393184;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    font-weight: 500;
    color: #fff !important;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 14px;
}

//Common Card Design
.plng-accordion-cards {
	.accordion {
		.card-header {
			background: linear-gradient(90deg, #1C4E98 0%, #E31446 100%);
		    border-radius: 15px 15px 0 0;
		    color: #fff;
		    
		    h6 {
		   		font-weight: 700;
		   		
		   		&:after {
					content: "\F286"; 
					font-weight: 900;
					float: right;
					font-family: "bootstrap-icons";
				}
		    }

			
		}

		.card-header h6.collapsed:after {
			content: "\F282";
			font-family: "bootstrap-icons";
		  }
	}

	.card {
		border-radius: 15px;
	    border: 0px;
	    box-shadow: 0 0 10px #ddd;
	
		.card-header {
			background: linear-gradient(90deg, #1C4E98 0%, #E31446 100%);
		    border-radius: 15px 15px 0 0;
		    color: #fff;
		    cursor: pointer;
		    
		    h6 {
		   		font-weight: 700;
		    }
		}

		

		.card-body {
			label {
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 600;
				color: #1e4e97;
			}

			.form-control {
				background-color: #304a9721 !important;
    			height: 45px;
				border: 0px; 
				font-weight: 500;
				font-size: 14px;
			}
		}

		.plng-btn {
			background: #1d4e97;
			border: 0px;
			padding: 8px 15px;
			color: #fff;
			border-radius: 5px;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.dt-buttons {
		float: right;
		margin: 0px 5px 5px 5px;

		button {
			background: #1d4e97;
			border: 0px;
			padding: 5px;
			color: #fff;
			border-radius: 5px;
			font-weight: 600;
			text-decoration: none;
			font-size: 13px;
		}
	}
}


analytics-blocks {
	.analytic-card {
		padding: 32px;
		border-radius: 10px;
		margin-bottom: 15px;
		align-items: center;
		position: relative;
		height: 120px;
&:before {
			position: absolute;
			content: '';
			width: 80%;
			height: 100%;
			background: #ffffff26;
			top: 0;
			left: 0;
			border-radius: 15px 100px 0px 15px;
		}
		img {
			width: 40px;
			filter: invert(1);
		}
		h6 {
		    font-size: 16px;
		    font-weight: 500; 
		}
 
		&:before {
			position: absolute;
			content: "";
			width: 80%;
			height: 100%;
			background: #ffffff26;
			top: 0;
			left: 0;
			border-radius: 15px 150px 0px 15px;
		}
&:after {
			position: absolute;
			content: "";
			width: 17%;
			height: 60%;
			background: #ffffff26;
			top: 0;
			right: 0;
			border-radius: 0px 15px 0px 100px;
		}
	} 
}
 
.bgtracker-db {
	.row {
		.col-md-3 {
&:nth-child(1) {
				.analytic-card {
					background: #67b61c;
					box-shadow: 0px 8px 20px 0px #67b61c66;
				}
			}
&:nth-child(2) {
				.analytic-card {
					background: #5339b5;
    				box-shadow: 0px 8px 20px 0px #5339b545;
				}
			}			
&:nth-child(3) {
				.analytic-card {
					background: #39b2b5;
    				box-shadow: 0px 8px 20px 0px #39b2b566;
				}
			}
&:nth-child(4) {
				.analytic-card {
					background: #fd7e14;
    				box-shadow: 0px 8px 20px 0px #fd7e1461;
				}
			}
		}
	}
}
 
 
.bgtracker-db-div {
	.analytics-blocks-parent {
		background: #fff;
	    border-radius: 10px;
	    padding: 15px;
	    //box-shadow: 0px 4px 17px #c3c3c3;
	    .analytic-card {
	    	img {
	    		width: 45px;
	    	}
	    	.analytic-values {
	    		h2 {
	    			font-size: 45px;
    				font-weight: 600;
	    		}
	    	}
	    }
	}
}