
    <style>
        .container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
        }
        h1 {
            color: #FF6F61;
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            color: #444;
            font-size: 18px;
            line-height: 1.6;
        }
        .signature {
            margin-top: 40px;
            font-style: italic;
            color: green; 
           font-weight: bold; 
        }
        .signature span {
            font-weight: bold;
        }
        footer {
            margin-top: 20px;
            font-size: 12px;
            color: #777;
            text-align: left;
        }
        footer .office-info {
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.5;
            color: green; 
        }
        footer .office-info p {
            margin: 5px 0; 
             color: green;
        }
        footer hr {
            border: none;
            border-top: 0.5px solid #ccc; 
            width: 50%; 
            margin: 10px auto; 
        }
         .birthday-container {
        text-align: center;
        width: 100%;
    }

    .birthday {
        margin-top: 20px; 
    }
        
    </style>

    <div class="container">
        <h1>Happy Birthday </h1>
        
        <p>Wishing you a day filled with love, laughter, and all the happiness in the world. May this year bring you success, joy, and wonderful moments!</p>
        <p>Enjoy your special day to the fullest!</p>
       
        </br>
        </br>
          <div class="signature" >
            <p>Best Wishes,</p>
            
        </div>
        
  <div style="color: #9c9c9c; line-height: 160%; tword-wrap: break-word;">
    <p style="font-size: 14px; line-height: 160%;"><strong>REGISTERED & CORPORATE OFFICE</strong></p>
    <p style="font-size: 14px; line-height: 160%;">1st Floor, World Trade Center</p>
    <p style="font-size: 14px; line-height: 160%;">Babar Road, Barakhamba Lane</p>
    <p style="font-size: 14px; line-height: 160%;">New Delhi - 110 001, India</p>
    <p style="font-size: 14px; line-height: 160%;">Tel: +91 - 11 - 2341 1411, 2347 2525</p>
    <p style="font-size: 14px; line-height: 160%;">Fax: +91 - 11 - 2347 2550</p>
    <p style="font-size: 14px; line-height: 160%;">E-mail: webmaster@petronetlng.in</p>
  </div>
